*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#EEF2FF;
  font-family:Arial, Helvetica, sans-serif;
}

button{
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
}

input{
  font-family:inherit;
}

table{
  width:100%;
}